argsText/*
.gradle/*
build/*
buildOutputCleanup.lock
outputFiles.bin
*.tmp
FiveMinTest/build/*
FiveMinTest/.gradle/*
FiveMinDummyPlugin/build/*
FiveMinDummyPlugin/.gradle/*
/jacoco
jacocoTestReport.xml
sample.db
plugins
